{% extends "layout.html" %}
{% block meta %}
  <meta name="started" content="{{ party.started }}">
{% endblock %}
{% block css %}
  {% assets "guest_list_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
  <h1 class="text-center">{{ party.fraternity.title }}'s Party</h1>
  <h2 class="text-center">{{ party.name }} - {{ party.date.__format__('%A, %B %d, %Y') }}</h2>
  <div class="container-fluid">
    <div class="row text-center" id="message">
    </div>
    <div class="row" id="search-row">
      <div class="col-xs-6 col-xs-offset-3">
        <input type="text" id="guest-search" class="form-control" placeholder="Search by brother name or guest name">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-md-5 col-xs-offset-1 guest-entry-row">
        <h4 class="add-guest-header">Men</h4>
        <div class="text-muted em">
          {% if party.started %}
            Men checked in: <span id="male-count"></span></div>
          {% else %}
            Men on list: <span id="male-count"></span></div>
          {% endif %}
        <div id="add-male" class="form-group form-inline">
          <input type="text" class="form-control enter-user-name" id="add-male-name" placeholder="Add Male Guest">
          <button class="btn btn-info add-user-btn" id="add-male-btn"><i class="fa fa-icon fa-plus"></i></button>
        </div>
      </div>
      <div class="col-xs-5 col-md-5 col-xs-offset-1 guest-entry-row">
        <h4 class="add-guest-header">Women</h4>
        <div class="text-muted em">
          {% if party.started %}
            Women checked in: <span id="female-count"></span></div>
          {% else %}
            Women on list: <span id="female-count"></span></div>
          {% endif %}
        <div id="add-female" class="form-group form-inline">
          <input type="text" class="form-control enter-user-name" id="add-female-name" placeholder="Add Female Guest">
          <button class="btn btn-info add-user-btn" id="add-female-btn"><i class="fa fa-icon fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="male-guest-list" class="col-xs-5 col-md-5 col-xs-offset-1">
      </div>
      <div id="female-guest-list" class="col-xs-5 col-md-5 col-xs-offset-1">
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {% assets "guest_list_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
      <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('6utnke5kcc3d');
</script>
<!-- End of Async Drift Code -->
{% endblock %}
