{% extends "layout.html" %}
{% block content %}
    <h1 class="title">{{ current_user.fraternity.title }}'s Parties</h1>
    <div class="container-fluid">
      {% if current_user.can_create_party %}
      <a href={{ url_for('parties.newparty') }}>
        <div class="btn btn-success">
          <i class="fa fa-icon fa-plus"></i>
          New Party
        </div>
      </a>
      {% endif %}
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          {% if current_user.can_delete_party(party) %}
            <th class="col-xs-5"> Party Name </th>
            <th class="col-xs-2"> Date </th>
            <th class="col-xs-2"> Guest List </th>
            <th class="col-xs-2"> Start Party </th>
            <th class="col-xs-1"> Delete </th>
          {% else %}
            <th class="col-xs-6"> Party Name </th>
            <th class="col-xs-3"> Date </th>
            <th class="col-xs-2"> Guest List </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for party in parties %}
          <tr>
            <td> {{ party.name }} </td>
            <td> {{ party.date.__format__('%A, %B %d, %Y') }} </td>
            <td>
              <a href={{ url_for('parties.guest_list', id=party.id) }}>
                <div class="btn btn-info btn-sm">
                  Guests
                </div>
              </a>
            </td>
            {% if current_user.can_delete_party(party) %}
              <td>
                {% if not party.started %}
                <form action={{ url_for('parties.start_party', id=party.id) }} method="post">
                  <input type="submit" class="btn btn-warning" value="Start Party">
                </form>
                {% else %}
                <button type="button" class="btn btn-info" disabled="disabled">Started</button>
                {% endif %}
              </td>
              <td>
                <form action={{ url_for('parties.delete_party', id=party.id) }} method="post">
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
