*.py[cod]
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/

# test cache
tests/.cache
*.log
.vagrant

ifc/static/libs
ifc/static/js/compiled
ifc/static/css/compiled
node_modules

# ignore test csv files
*.csv
tests/**/.cache
